:root {
  --black: #080808;
  --white: #fefefe;
  --violetred: #a2106d;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--black);
  padding: 10px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links li a {
  text-decoration: none;
  color: var(--white);
  background-color: var(--black);
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover {
  background-color: var(--violetred);
}

#about {
  text-align: center;
  background-color: var(--white);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#experience {
  text-align: center;
  background-color: var(--white);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
  width: calc(33.33% - 20px);
  height: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 0 5px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  transition: transform 0.4s ease;
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:nth-child(3n) {
  margin-right: 5px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.card-content {
  text-align: center;
}

.card-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 14px;
  margin-bottom: 10px;
}

.card-content a {
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;
}

.card-content a:hover {
  background-color: var(--violetred);
}

#projects {
  text-align: center;
  background-color: var(--white);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact {
  text-align: center;
  background-color: var(--white);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  max-width: 400px;
  margin: 0 auto;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form textarea {
  height: 100px;
}

form input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: var(--violetred);
}
